<div class="card card-chat overflow-hidden vh-100">
    <div class="card-body d-flex p-0 h-100">
        <div class="tab-content card-chat-content">
            <div class="tab-pane card-chat-pane active">
                <mybot-header></mybot-header>
                <div class="chat-content-body" style="display: inherit;">
                    <mybot-body></mybot-body>
                </div>
            </div>
            <mybot-footer></mybot-footer>
        </div>
    </div>
</div>