<div class="card mb-3" id="customersTable" data-list='{"valueNames":["name","email","phone","address","joined"],"page":10,"pagination":true}'>
  <div class="card-header">
    <div class="row flex-between-center">
      <div class="col-4 col-sm-auto d-flex align-items-center pe-0">
        <h5 class="fs-0 mb-0 text-nowrap py-2 py-xl-0">Customers</h5>
      </div>
      <div class="col-8 col-sm-auto text-end ps-2">
        <div id="table-customers-replace-element">
          <button class="btn btn-falcon-default btn-sm mr-2" type="button" (click)="openModal()">
            <span class="fa fa-plus" data-fa-transform="shrink-3 down-2"></span><span class="d-none d-sm-inline-block ms-1">New</span>
          </button>
          <button class="btn btn-falcon-default btn-sm mr-2 d-none" type="button">
            <span class="fa fa-filter" data-fa-transform="shrink-3 down-2"></span><span class="d-none d-sm-inline-block ms-1">Filter</span>
          </button>
          <button class="btn btn-falcon-default btn-sm" type="button" (click)="export()">
            <i class="fa fa-external-link" aria-hidden="true"></i><span class="d-none d-sm-inline-block ms-1">Export</span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body p-0">
    <div class="table-responsive scrollbar">
      <table class="table table-sm table-striped fs--1 mb-0 overflow-hidden">
        <thead class="bg-200 text-900">
          <tr>
            <th>
              <div class="form-check fs-0 mb-0 d-flex align-items-center"><input class="form-check-input" id="checkbox-bulk-customers-select" type="checkbox" data-bulk-select='{"body":"table-customers-body","actions":"table-customers-actions","replacedElement":"table-customers-replace-element"}' /></div>
            </th>
            <th class="sort pe-1 align-middle white-space-nowrap" data-sort="name">Name</th>
            <th class="sort pe-1 align-middle white-space-nowrap" data-sort="email">Email</th>
            <th class="sort pe-1 align-middle white-space-nowrap" data-sort="phone">Phone</th>
            <th class="sort pe-1 align-middle white-space-nowrap" data-sort="joined">Joined</th>
            <th class="sort pe-1 align-middle white-space-nowrap ps-5" data-sort="address" style="min-width: 200px;">Action</th>
            <th class="align-middle no-sort"></th>
          </tr>
        </thead>
        <tbody class="list" id="table-customers-body">
          <tr class="btn-reveal-trigger" *ngFor="let item of pageParams.data">
            <td class="align-middle py-2" style="width: 28px;">
              <div class="form-check fs-0 mb-0 d-flex align-items-center"><input class="form-check-input" type="checkbox" id="customer-0" data-bulk-select-row="data-bulk-select-row" /></div>
            </td>
            <td class="name align-middle white-space-nowrap py-2"><a href="customer-details.html">
                <div class="d-flex d-flex align-items-center">
                  <div class="avatar avatar-xl me-2">
                    <div class="avatar-name rounded-circle"><span>{{item.name||item.email | ucwords | shorten: 1: ''}}</span></div>
                  </div>
                  <div class="flex-1">
                    <h5 class="mb-0 fs--1">{{item.name}}</h5>
                  </div>
                </div>
              </a></td>
            <td class="email align-middle py-2"><a href="mailto:{{item.email}}">{{item.email}}</a></td>
            <td class="phone align-middle white-space-nowrap py-2"><a href="tel:{{item.phone}}">{{item.phone}}</a></td>
            <td class="joined align-middle py-2">{{item.createdAt|date:'mediumDate'}}</td>
            <td class="address align-middle white-space-nowrap ps-5 py-2">
              <button class="btn btn-info btn-sm mr-1 " (click)="openModal(item)"><i class="fa fa-pencil"></i> Edit</button>
              <button (click)="deleteCustomerById(item.userId)" type="button" class="btn btn-danger btn-sm "><i class="fa fa-times"></i> Delete </button>
            </td>
            <td class="align-middle white-space-nowrap py-2 text-end"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="card-footer d-flex align-items-center justify-content-center">
    <button (click)="pageParams.previousPage()" [disabled]="!pageParams.hasPreviousPage()" class="btn btn-sm btn-falcon-default me-1" type="button" title="Previous" data-list-pagination="prev">
      <span class="fa fa-chevron-left"></span>
    </button>
    <ul class="pagination mb-0">{{pageParams.page}} of {{pageParams.totalPages || 1}}</ul>
    <button (click)="pageParams.nextPage()" [disabled]="!pageParams.hasNextPage()" class="btn btn-sm btn-falcon-default ms-1" type="button" title="Next" data-list-pagination="next">
      <span class="fa fa-chevron-right"></span>
    </button>
  </div>
</div>

<ng-template #customerModel>
  <admin-add-edit-customer-model [modalRef]="modalRef" [editingCustomer]="editingCustomer" (onSuccess)="onSuccess($event)">
  </admin-add-edit-customer-model>
</ng-template>